#root {
    display: flex;
    justify-content: center;
}

.App-menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    width: 300px;
    row-gap: 10px;
}
